<div class="modal-backdrop" (click)="closeModal.emit()">
  <div class="modal-content" (click)="$event.stopPropagation()">

    <div class="modal-header">
      <h2 class="modal-title">Nova Categoria</h2>
      <button class="btn-close" (click)="closeModal.emit()">&times;</button>
    </div>

    <form class="modal-body" (ngSubmit)="saveCategoria()">
      <div class="form-scroll-area">

        <div class="form-group">
          <label for="categoryName" class="form-label">Nome da Categoria</label>
          <input 
            type="text" 
            id="categoryName" 
            class="form-control" 
            placeholder="Digite o nome" 
            [(ngModel)]="categoriaDTO.name" 
            name="categoryName" 
            required />
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal.emit()">Descartar</button>
        <button type="submit" class="btn btn-primary">Salvar Categoria</button>
      </div>
    </form>
  </div>
</div>