<div class="page-container">
  <h1 class="page-title">Controle de Estoque</h1>

  <section class="card-table-container">
    <div class="table-header-actions">
      <h2 class="card-title">Status do Inventário</h2>
      <div class="action-buttons">
        <button class="btn btn-secondary btn-icon">Registrar Entrada</button>
        <button class="btn btn-secondary btn-icon">Registrar Saída</button>
      </div>
    </div>

    <div class="table-wrapper">
      <table class="data-table">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Qtd. Atual</th>
            <th>Data de Entrada</th>
            <th>Data de Validade</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of stockList">
            <td>{{ item.productName }}</td>
            <td>{{ item.amount }} Unid.</td>
            <td>{{ item.entryDate | date:'dd/MM/yyyy' }}</td>
            <td>{{ item.validity | date:'dd/MM/yyyy' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination">
      <span>Exibindo {{ stockList.length }} lotes</span>
    </div>

  </section>
</div>